<div class="container">
  <div class="welcome">
    <h1 class="center-align">Bem Vindo ao MyHistory!!!</h1>
    <p class="center-align">Junte-se a nós nesse maravilhoso universo de histórias fantásticas.</p>
  </div>
  <div class="form-box">
    <form action="" method="post">
      <div>
        <input type="text" name="username" placeholder="Seu nome de usuário" class="form-input">
      </div>
      <div>
        <input type="password" name="password" placeholder="Escolha uma senha forte ;)" class="form-input">
      </div>
      <div class="center-align">
        <button type="submit" value="Entrar"  class="waves-effect waves-light btn">Vamos lá!</button>
      </div>
      <p class="center-align">Ou então, logue com suas redes sociais</p>
      <div class="center-align">
        <button type="submit" value="Entrar"  class="waves-effect waves-light facebook btn">Facebook</button>
        <button type="submit" value="Entrar"  class="waves-effect waves-light googleplus btn">Google Plus</button>
        <button type="submit" value="Entrar"  class="waves-effect waves-light instagram btn">Instagram</button>
      </div>
      <p class="center-align">
        Não é registrado? <a href="cadastro.html">Crie uma conta</a>.
      </p>
    </form>
  </div>
</div>