<div class="container">
  <div class="row news">
    <div class="chamada">
      <h3>{{ title }}</h3>
      <p> {{ subtitle }}</p>
      <div class="divider"></div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="../../assets/posts/img01.jpg">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card">
          <div class="card-image">
            <img src="../../assets/posts/img01.jpg">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l3">
          <div class="card">
            <div class="card-image">
              <img src="../../assets/posts/img01.jpg">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l3">
            <div class="card">
              <div class="card-image">
                <img src="../../assets/posts/img01.jpg">
                <span class="card-title">Card Title</span>
              </div>
              <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
  </div>
</div>
  