<div class="container">
  <div class="row descubra">
    <div class="chamada">
      <h3>{{ title }}</h3>
      <div class="divider"></div>
      <p>Procurando uma History específica? Ou alguma History da sua categoria preferida? Use nossa busca e encontre Historys feitas exclusivamente para você!</p>
    </div>
    <div class="input-field col s12">
        <input placeholder="Placeholder" id="first_name" type="text" class="validate">
        <label for="first_name">First Name</label>
    </div>
  </div>
</div>