<ul id="nav-mobile" class="right hide-on-med-and-down">
  <li><a routerLinkActive="active" class="lighten-4" routerLink="/">Home</a></li>
  <li><a routerLinkActive="active" class="lighten-4" routerLink="/descubra">Descubra</a></li>
  <li><a routerLinkActive="active" class="lighten-4" routerLink="/newhistory">Crie</a></li>
  <li><a routerLinkActive="active" class="lighten-4" routerLink="/news">News</a></li>
  <li>
    <div class="user">
      <img class="circle responsive-img" src="../../assets/rodzan.jpg"> 
      <span>rodzan</span>
    </div>
  </li>
</ul>